/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--color,#000028);
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color,#F1B2CE);
  font-family: var(--main-family, sans-serif);
  min-inline-size: 360px;
  max-width: 100%;
}

.header {
  display: grid;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone::before {
  position: absolute;
  content: '';
  border-right: 1px solid var(--front-color);
  border-top: 1px solid var(--front-color);
  width: 25px;
  height: 24px;
  top: 10px;
  right: 10px;
}

 .decorated-zone::after {
  position: absolute;
  content: '';
  border-left: 1px solid var(--front-color);
  border-bottom: 1px solid var(--front-color);
  width: 25px;
  height: 24px;
  bottom: 10px;
  left: 10px;
 }

.decoration {
  content: '';
  display: flex;
  color: var(--accent-color);
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.decoration::after {
  content: '';
  border-radius: 100%;
  fill: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-image: url(../images/circle.svg);
  background-position: center;
  width: 9px;
  height: 9px;
}

.header_name {
  font-family: var(--main-family, sans-serif);
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
}

.title_decor {
  font-family: var(--main-family, sans-serif);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--bg-color);
  background-color: var(--back-color);
  align-self: center;
}

.header__theme-menu {
  font-family: var(--main-family, sans-serif);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: var(--accent-color);
  align-self: center;
  justify-self: end;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--front-color);
  font-family: var(--main-family, sans-serif);
  text-align: center;
  width: 70px;
  height: 26px;
  outline: none;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button:hover { 
  border: 1px solid var(--shadow-box);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--front-color);
}

.header__theme-menu-button:focus-visible { 
  border-bottom: 1px solid var(--front-color);
  outline: none;
}

.body_title {
  font-family: var(--main-family, sans-serif);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--front-color);
  margin-block-end: 20px;
}

.main {
  display: grid;
  margin-block-start: 30px;
  grid-row-gap: 30px;
  grid-column-gap: 20px;
  padding: 10px;
}

.body_text {
  margin-block-start: 10px;
  margin-block-end: 20px;
  font-family: var(--main-family, sans-serif);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color); 
}

a {
  text-decoration: none;
  text-shadow: 2px 1px var(--back-color);
}

a:hover {
  border-bottom: 1px solid var(--text-color);
}

a:focus-visible {
  outline: 1px solid #F1B2CE;
}

.subtitle {
  font-family: var(--main-family, sans-serif);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  background-color: var(--back-color);
  color: var(--bg-color);
}

.body_img {
  display: block;
  object-position: center;
  object-fit: cover;
  width: 100%;
  margin: 10px 0 10px;
}

.cake {
  margin-block-end: 20px;
}

.footer {
  display: grid;
  height: 100vh;
  min-height: 668px;
  position: relative;
  align-items: center;
  justify-items: end;
  margin-block-start: 22px;
  }

.footer_name {
  font-family: var(--main-family, sans-serif);
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  color: var(--title-color);
  text-shadow: 2px 2px 0  #ff0070;
  justify-self: center;
}

@media (min-width: 697px) and (max-width:1023px) {
  .header {
    align-items: center;
    justify-items: end;
    grid-template-rows: 1fr min-content 1fr;
    padding: 20px;
  }
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
  .main {
    padding: 20px;
    margin-block-start: 40px;
    row-gap: 60px;
  }
  .block {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-column-gap: 20px;
  }
  .decoration { 
    top: 20px;
    right: 30px;
  }
  .header_name {
    font-size: 120px;
    margin-inline-start: -20px;
  }
  .decor {
    max-width: 364px;
  }
  .body_title {
    max-width: 236px;
  }
  .second_text {
    grid-column-start: 2;
  }
  .image_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-block-start: 20px;
  }
  .body_img {
    margin: 0;
    height: 100%;
  }
  .sunset {
    grid-column: span 2;
  }
  .cream {
    grid-row: span 2;
  }
  .tape {
    grid-row: span 2;
  }
  .street {
    grid-column: span 2;
  }
  .cake {
    margin-block-end: 20px;
  }
  .footer {
    margin-block-start: 40px;
  }
  .footer_name {
    font-size: 120px;
  }
}

@media (min-width: 1024px) {
  .page {
    min-width: 100%;
  }
  .body_img {
    margin: 0;
    height: 100%;
  }
  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
  }
  .header__theme-menu-list {
    display: flex;
  }
  .header {
    align-items: center;
    justify-items: end;
    padding: 20px;
  }
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
  .decoration {
    top: 20px;
    right: 30px;
  }
  .header_name {
    margin-inline-start: -20px;
  }
  .decor {
    max-width: 491px;
  }
  .main {
    padding: 20px;
    margin-block-start: 40px;
    row-gap: 60px;
  }
  .block {
    display: grid;
    grid-template-columns: 315px 1fr;
    column-gap: 20px;
  }
  .body_title {
    max-width: 334px;
  }
  .true_information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
  .title_decor {
    grid-column-start: 1;
  }
  .cake {
    margin-block-end: 20px;
  }
  .image_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-block-start: 20px;
  }
  .sunset {
    grid-column: span 2;
  }
  .cream {
    grid-row: span 2;
  }
  .tape {
    grid-row: span 2;
  }
  .street {
    grid-column: span 2;
  }
  .footer {
    padding: 20px;
    margin-block-start: 40px;
  }
}